.option {
  /* background-color: #e7dfdd; */
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid rgb(197, 193, 192) 1px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: rgba(197, 193, 192, 0.3);
  animation-name: slide-down;
  animation-timing-function: ease-in-out;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@keyframes slide-down {
  from {
    opacity: 0%;
    transform: scale(0);
  }
}

.dropdown-container {
  background-color: transparent;
  width: fit-content;
}

.select {
  color: #0a1612;
  display: flex;
  width: fit-content;
  height: 3vh;
  justify-content: center;
  align-items: center;
  /* margin: 3px; */
  padding-left: 2px;
  padding-right: 2px;
  border: solid rgb(197, 193, 192) 1px;
  background-color: transparent;
  border-radius: 3px;
  cursor: pointer;
}
