.color {
  color: #c5c1c0;
  color: #0a1612;
  color: #1a2930;
  color: #f7ce3e;
}

.main-content--container {
  box-sizing: border-box;
  grid: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-container {
  box-sizing: border-box;
  height: 95%;
  width: 50%;
}
.output-container {
  margin: 0;
  width: 50%;
  height: 95%;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  display: flex;

  justify-content: center;
  align-items: center;
}

.output-field {
  background-color: white;
  width: 80%;
  height: 56%;
  border: solid #f7ce3e 1px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  font-family: monospace;
  padding: 3px;
}

.text-area--container {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-area {
  margin: 0;
  border-radius: 5px;
  width: 80%;
  height: 80%;
  max-width: 700px;
  resize: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #0a1612;
  transition: 0.2s;
}
.text-area:focus {
  outline: solid #f7ce3e 1px;
}

.label-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
}
.label {
  color: #1a2930;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15%;
}
.button {
  font-family: "Audiowide", cursive;
  color: #e7dfdd;
  background-color: rgba(0, 0, 0, 0.24);
  width: 20vw;
  height: 4vh;
  border-radius: 5px;
  border: solid black 1px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.2s;
}
.button:hover {
  background-color: #f7ce3e;
  color: #0a1612;
}

.form {
  height: 100%;

  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}
