.color {
  color: #c5c1c0;
  color: #0a1612;
  color: #1a2930;
  color: #f7ce3e;
}

.page-container {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 20fr 80fr 20fr;
  background-image: url("./ui/grayWhite.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* filter: invert(5%); */
}
